/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#navbarTop {
    transition:0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar button {
    background-color:black;
    border: 0px black;
}

.sidebar button:not(.collapsed) {
    background-color:black;
    color:white;
}

.accordion-body:not(.paymentAccordionBody) {
    background-color:black;
    color:white;
}

.accordion-item:not(.paymentAccordionItem) {
    background-color:black;
}

.dashboardButton{
    background: none;
    padding: 1rem 1.25rem;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #212529;
    color: white;
    padding: 10px 15px;
    border: none;
    width: 50px;
    height:50px;
}

.openbtn:hover {
    background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    width: 100%;
    margin: 5rem 5px 5px 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 412px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

@media screen and (max-width: 450px) {
    body{padding-top: 55px}
}

.accordion-button.collapsed::after:not(.paymentAccordionItem) {
    background: url("/img/arrow_down_white.svg") no-repeat;
}

.accordion-button:not(.collapsed)::after:not(.paymentAccordionItem) {
    background: url("/img/arrow_down_white.svg") no-repeat;
}

#userhouseholdtext {
    margin: auto;
}

.fill {
    min-width: 100%;
    width: 100%;
}

.container-fluid{
    padding: 0;
    margin:0;
}

.card {
    border-radius:0.20rem;
}

#mainTitle {
    font-size: 20px;
    color:white;
    text-decoration: none;
}

.paymentAccordionItem .accordion-button{
    color:black;
    background-color:white !important;
}

.paymentAccordionItem .accordion-button:focus{
    border-color:black;
}


